@charset "UTF-8";


body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    color: maroon;
    background-color: mediumspringgreen;
}


/*


CORES

Lembre que as cores representam sencações e sentimentos dentro do seu site 

*/



