/*@charset "UTF-8";


body{
    background-image: linear-gradient(to top),white,red;
}

h1{
    color: maroon;
    background-color: mediumspringgreen;
}


/*


CORES

Lembre que as cores representam sencações e sentimentos dentro do seu site 

*/



