/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');


ID e Classe: Id se usa para uma tag especifica e Classe para muitas





Para se referir a classes

tipodatag + . + classe

ex: 

h1.principal{}




Para se referir a ID

tipodatag + # + ID

ex: 

h1#principal{}




Tambem pode usar sem especificar a tag no comeco, assim irá pra todos os id ou classe desse tipo

Dá pra colocar mais de uma classe numa tag utilizando espaço
ex: <tag class: "subtitulo grandao"> ------> tem as classes "subtitulo"  e "grandao"

prioridade de substituição é ID > CLASS





*/













body{
background-color: blue;
text-align: left;
text-indent: 0px; /*folguinha na esquerda*/

}





.grandao{
    font-size: 50px;
}

.platina{
    color: silver;
}